
<h2>My Requests</h2>
<% @requests.each do |request|%>
 <% ride = request.ride %>
    <div class="card">

     <div class="card-header">
        <span><strong>Offer by</strong> <%= ride.user.name.capitalize%><span>
    </div>
 <div class="card-body">

    <div class="row">
        <div class="col-sm-6">
            <p>Origin</p>
        </div>
        <div class="col-sm-6">
        <p><%= ride.origin %></p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <p>destination</p>
        </div>
        <div class="col-sm-6">
        <p><%= ride.destination %></p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <p>Take off</p>
        </div>
        <div class="col-sm-6">
        <p><%= ride.time %></p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <p>Capacity</p>
        </div>
        <div class="col-sm-6">
        <p><%= ride.capacity %></p>
        </div>
    </div>
 </div>
 <div class="card-footer">
        <div class="row">
        <div class="col-sm-6" style="display:inline;">
            <strong>Status</strong>
        </div>
        <div class="col-sm-6 ">
        <%= "Pending" if request.accepted == nil %>
        <%= "Accepted" if request.accepted  %>
        <%= "Rejected" if request.accepted == false %>
        </div>
        </div>
    </div>
 </div>
 <br>
<%end%>