<%= form_for(ride)  do |form| %>
<p> 
<%=  form.label :origin %>
<%= form.text_field :origin, class: :"form-control"%>
</p>
<p>
<%=  form.label :destination %>
<%= form.text_field :destination, class: :"form-control"%>
</p>
<p>
<%=  form.label :take_off %>
<%= form.datetime_field :time, class: :"form-control" %>
</p>
<p>
<%=  form.label :capacity %>
<%= form.text_field :capacity, class: :"form-control" %>
</p>
<p>
<%= form.submit class: "btn btn-primary" %>
</p>
</div>

<% end %>