<%= form_for ride, url:{action: action} do |form| %>
<p> 
<%=  form.label :origin %>
<%= form.text_field :origin, class: :"form-control"%>
</p>
<p>
<%=  form.label :destination %>
<%= form.text_field :destination, class: :"form-control"%>
</p>
<p>
<%=  form.label :take_off %>
<%= form.text_field :time, class: :"form-control",id: "take_off" %>
<script type="text/javascript">
  const el = document.getElementById('take_off');
  flatpickr(el, {enableTime: true} );
</script>


</p>
<p>
<%=  form.label :capacity %>
<%= form.text_field :capacity, class: :"form-control" %>
</p>
<p>
<%= form.submit class: "btn btn-primary" %>
</p>

<% end %>