<!DOCTYPE html>
<html>
  <head>
    <title>CabHailing</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Ride<i>Share</i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
      </li>
      <%if current_user %>
      <li class="nav-item">
        <%= link_to "profile", user_path(current_user), class: "nav-link "%>
      </li>
      <li class="nav-item dropdown">
      <li class="nav-item">
        <a class="nav-link  " href="/logout" tabindex="-1" >Logout</a>
      </li>
      <%else%>
      <li class="nav-item active">
        <a class="nav-link" href="/signup">Signup <span class="sr-only"></span></a>
      </li><li class="nav-item active">
        <a class="nav-link" href="/login">Login <span class="sr-only"></span></a>
      </li>
      <%end%>
    </ul>
  </div>
</nav>
  <div class="container spaced">
  <div class="container">
    <% flash.each do |name, message| %>
      <div class="alert alert-<%=name%> alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong><%= name.upcase %></strong> <%= message%>
     </div>
    <%end%>
  </div>
    <%= yield %>
  </div>
  </body>
</html>
