<!DOCTYPE html>
<html>
  <head>
    <title>RideShare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Ride<i>Share</i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
      </li>
      <%if current_user %>
      <li class="nav-item">
        <%= link_to "All Rides", "/rides", class: "nav-link "%>
      </li>
      <li class="nav-item">
        <%= link_to "Profile", user_path(current_user), class: "nav-link "%>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle mr-2" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= current_user.name %>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href=<%= show_offer_form_path %>>Offer ride</a>
          <a class="dropdown-item" href=<%= user_rides_path(current_user)%>>My rides</a>
           <a class="dropdown-item" href= <%= create_request_path %>> Request ride</a>
           <a class="dropdown-item" href="/requests">My requests</a>
          <div class="dropdown-divider"></div>

          <a class="dropdown-item " href="/logout" tabindex="-1" >Logout</a>
  
        </div>
      </li>
      
      <%else%>
      <li class="nav-item active">
        <a class="nav-link" href="/signup">Signup <span class="sr-only"></span></a>
      </li><li class="nav-item active">
        <a class="nav-link" href="/login">Login <span class="sr-only"></span></a>
      </li>
      <%end%>
    </ul>
  </div>
</nav>
  <div class="container spaced">
  <div class="container">
    <% flash.each do |name, message| %>
      <div class="alert alert-<%=name%> alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong><%= name.upcase %></strong> <%= message%>
     </div>
    <%end%>
  </div>
    <%= yield %>
  </div>
  
  </body>
</html>
